:root {
  color-scheme: light;

  --shadow-card: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.04);
  --shadow-inner: 0 0 1.5px 0.5px #0000001f inset;
  --shadow-inner-xs: 0 0 0 1px #001a0026, 0 0 1px 0 #00000008, 0 1px 2px 0 #0000000f;
  --shadow-dialog:
    0px 0px 0px 1px #01213921, 0px 0px 0px 7px #ffffff4d, 0px 64px 24px 0px #0000, 0px 44px 22px 0px #00000005,
    0px 28px 20px 0px #00000014, 0px 17px 17px 0px #00000021, 0px 10px 13px 0px #00000026;

  --status-online: #3da863;
  --status-offline: #8b8b8e;
  --status-warning: #d9a31a;
  --status-error: #dc2626;

  --background: #ffffff;
  --foreground: #1a1a1b;
  --card: #ffffff;
  --card-foreground: #1a1a1b;
  --popover: #ffffff;
  --popover-foreground: #1a1a1b;
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: rgba(0, 0, 0, 0.06);
  --input-border: rgba(0, 0, 0, 0.12);
  --input-bg: oklch(1 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;

  --sidebar: #f6f6f7;
  --sidebar-foreground: #1a1a1b;
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: rgba(0, 0, 0, 0.06);
  --sidebar-ring: oklch(0.708 0 0);
}
